<!doctype html>

<head>

{% load staticfiles %}

<meta charset='utf-8'/>
    <title>SRA quiz</title>
    <style>
      body{font:12px/1.2 Verdana, sans-serif; padding:0 10px;}
      a:link, a:visited{text-decoration:none; color:#416CE5;}
      h2{font-size:13px; margin:15px 0 0 0;}
    </style>
    <link rel="stylesheet" href="{% static 'SRA_quiz_1/normalise.css' %}"/>
    <link rel="stylesheet" href="{% static 'SRA_quiz_1/colorbox.css' %}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="{% static 'SRA_quiz_1/jquery.colorbox.js' %}"></script>
    <script>
      $(document).ready(function(){
        $(".group2").colorbox({rel:'group2', transition:"fade"});
      });
    </script>

</head>

<body>

{% block content %}

{% endblock %}

</body>