{% extends "SRA_quiz_1/base.html" %}


{% block content %}

		<h1>SRA quiz</h1>
		<h2>Thumbnails</h2>
		<p></p>
		<p><img src='/static/SRA_quiz_1/images/testimage2-min_tn.jpg'></p>
		<p><img src='/static/SRA_quiz_1/images/testimage3-min_tn.jpg'></p>
		<p><img src='/static/SRA_quiz_1/images/testimage3-min_tn.jpg'></p>

		<h2>Fade Transition</h2>
		<a class="group2"  href='/static/SRA_quiz_1/images/testimage1-min.jpg'>
			<img src='/static/SRA_quiz_1/images/testimage1-min_tn.jpg'></a>
		

		<p><a class="group2" href='/static/SRA_quiz_1/images/testimage2-min.jpg' title="blah" >Grouped Photo 1</a></p>
		<p><a class="group2" href='/static/SRA_quiz_1/images/testimage3-min.jpg' title="blah2">Grouped Photo 2</a></p>
		<p><a class="group2" href='/static/SRA_quiz_1/images/testimage4-min.jpg' title="blah3">Grouped Photo 3</a></p>

		</div>


{% endblock %}

