{% extends "SRA_quiz_1/base.html" %}


{% block content %}

	<h1>SRA quiz</h1>

	<h2>Q1 answer: {{ q1_answer_id }}</h2>

	<h3>Thumbnails; just here for show</h3>
	<p></p>
	<p><img src='/static/SRA_quiz_1/images/testimage2-min_tn.jpg'></p>
	<p><img src='/static/SRA_quiz_1/images/testimage3-min_tn.jpg'></p>
	<p><img src='/static/SRA_quiz_1/images/testimage3-min_tn.jpg'></p>

	<h2>Fade Transition</h2>
	<a class="group2"  href='/static/SRA_quiz_1/images/testimage1-min.jpg'>
		<img src='/static/SRA_quiz_1/images/testimage1-min_tn.jpg'></a>
	
	<p><a class="group2" href='/static/SRA_quiz_1/images/testimage2-min.jpg' title="blah" >Grouped Photo 1</a></p>
	<p><a class="group2" href='/static/SRA_quiz_1/images/testimage3-min.jpg' title="blah2">Grouped Photo 2</a></p>
	<p><a class="group2" href='/static/SRA_quiz_1/images/testimage4-min.jpg' title="blah3">Grouped Photo 3</a></p>


	<form id="user_answer" name="user_answer" action="/SRA_quiz_1/add_answer/" method="POST">
		{% csrf_token %}
		q1 answer here please: <input type="text" name="q1_answer_id" value="">
		<input class="btn" type="submit" value="Submit!!!1!!" />
	</form>



{% endblock %}

